<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLTVWF.Properties.Settings.QL_SinhVienConnectionString"
            connectionString="Data Source=DESKTOP-C3373F2;Initial Catalog=QL_SinhVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>